# скрытая папка vs
.vs
tic-tac-toe-cli/.vs

# создающиеся папки после компиляции
tic-tac-toe-cli/cli-library/bin/*
tic-tac-toe-cli/cli-library/obj/*
tic-tac-toe-cli/main/bin/*
tic-tac-toe-cli/main/obj/*
